body {
    font-family: 'EB Garamond', serif;
}

.container {
    width: 1151px;
    margin: 0 auto;
    padding: 0;
}

.text {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 28px;
}

.contact {
    display: flex;
}

.map {
    width: 700px;
    min-height: 400px;
    padding: 20px;
}
